.container {
  padding: 2rem;
  text-align: center;
  background-color: #222;

  & h1 {
    color: cyan;
    font-family: monospace;
    text-transform: uppercase;
  }

  & h3 {
    color: #999;
    font-weight: 300;
    text-transform: capitalize;
  }

  & img {
    max-width: 16rem;
  }

  & input {
    margin-top: 2rem;
    background-color: white;
  }

  @media (max-width: 900px) {
    & img {
      max-width: 10rem;
    }

    & h1 {
      font-size: 1.5rem;
    }
  }
}
