:root {
  --bgColor: #333;
}

body {
  min-height: 100vh;
  background-color: var(--bgColor);
  display: flex;
  justify-content: center;
  & > div {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 900px) {
  body {
    padding: 3rem 0rem;
  }
}
